/* 
    Document   : reset
    Created on : Feb 21, 2013, 8:54:07 AM
    Author     : Joey Hipolito <me@joeyhipolito.com>
    Description:
        Purpose of the stylesheet follows.
*/

/* `XHTML, HTML4, HTML5 Reset
----------------------------------------------------------------------------------------------------*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    border: 0;
    margin: 0;
    padding: 0;
}

html, body {
  height: 100%;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
}

b, strong {
  font-weight: bold;
}

a {
    text-decoration:none;
    color:#747474;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
a:hover {
    color:#ffffff;
}

ol,ul {
    list-style: none;
}

li {
  display: list-item;
  list-style: none;
}

blockquote,q {
    quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
    content: none;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
}


th, td, caption {
  font-weight: normal;
  vertical-align: middle;
  text-align: left;
}

sub, sup, small {
  font-size: 75%;
}

sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

svg {
  overflow: hidden;
}