@media only screen and (min-width: 1200px) and (max-width: 1360px) {

    #add-tenant, #lease-unit {
        width: 400px;
    }

    #add-tenant > form > input, #add-tenant > form > select
    #lease-unit > form > input, #lease-unit > form > select {
        margin: 8px auto;
        width: 84%;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
    #add-tenant > form > input, #add-tenant > form > select {

    }
}

@media only screen and (min-width: 960px) and (max-width: 1023px) {
    #add-tenant > form > input, #add-tenant > form > select {

    }
}

@media only screen and (min-width: 320px) and (max-width: 800px) {
    #sidebar {
        margin-left: -300px;
        position: absolute;
        top: 0;
        bottom: 0;
    }

    #content {
        margin: 0;
    }
}